# === Core / ciencia de datos ===
numpy
pandas
pyarrow
scipy
scikit-learn
xgboost
statsmodels
pandera
unidecode
python-dotenv

# === I/O de ficheros ===
openpyxl
xlsxwriter
fastparquet

# === Visualización ===
matplotlib
seaborn
plotly
altair
pillow

# === App ===
streamlit
watchdog

# === Utils / helpers ===
tabulate
click
sqlalchemy

# === Notebook / Dev UX ===
jupyter
notebook
ipykernel
ipywidgets
tqdm

# === Dev (opcional) ===
pytest
pytest-cov
black
flake8
